<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyi.mall.biz.system.mapper.MbsRoleMapper">
    <resultMap id="BaseResultMap" type="com.lingyi.mall.api.system.vo.RoleVO">
        <id column="id" jdbcType="BIGINT" property="roleId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="is_enable" jdbcType="TINYINT" property="isEnable"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date_time" jdbcType="TIMESTAMP" property="createDateTime"/>
        <result column="last_modify_by" jdbcType="VARCHAR" property="lastModifyBy"/>
        <result column="last_modify_date_time" jdbcType="TIMESTAMP" property="lastModifyDateTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, `name`, is_enable, sort, remark, create_by, create_date_time, last_modify_by,
    last_modify_date_time, is_delete
    </sql>
    <sql id="Base_Condition">
        <if test="name!=null and name!=''">
            AND `name` LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
        </if>
    </sql>
    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mbs_role
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectListByParam" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM mbs_role
        <where>
            <include refid="Base_Condition"/>
        </where>
    </select>
</mapper>
