<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyi.mall.biz.system.mapper.MbsUserMapper">
    <resultMap id="BaseResultMap" type="com.lingyi.mall.api.system.entity.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="head_portrait" jdbcType="VARCHAR" property="headPortrait"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone_number" jdbcType="CHAR" property="phoneNumber"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="last_login_date_time" jdbcType="TIMESTAMP" property="lastLoginDateTime"/>
        <result column="is_enable" jdbcType="TINYINT" property="isEnable"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date_time" jdbcType="TIMESTAMP" property="createDateTime"/>
        <result column="last_modify_by" jdbcType="VARCHAR" property="lastModifyBy"/>
        <result column="last_modify_date_time" jdbcType="TIMESTAMP" property="lastModifyDateTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_name, real_name, nickname, sex, `password`, head_portrait, email, phone_number,
    last_login_ip, last_login_date_time, is_enable, remark, create_by, create_date_time,
    last_modify_by, last_modify_date_time, is_delete
    </sql>
    <sql id="Base_Condition">
        <if test="mbsUser.userName!=null and mbsUser.userName!=''">
            AND user_name LIKE CONCAT('%',#{userName,jdbcType=VARCHAR},'%')
        </if>
    </sql>
    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM mbs_user
        WHERE id=#{id,jdbcType=BIGINT}
    </select>

    <select id="selectListByPageAndCondition" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM mbs_user
        <where>
            <include refid="Base_Condition"/>
        </where>
    </select>
    <resultMap id="SelectByUserNameMap" type="com.lingyi.mall.api.system.vo.UserVO">
        <id column="mu_id" property="userId"/>
        <result column="mu_user_name" property="userName"/>
        <result column="mu_password" property="password"/>
        <result column="mu_is_enable" property="isEnable"/>
    </resultMap>
    <select id="selectIdByUserName" resultType="java.lang.Long">
        SELECT id
        FROM mbs_user
        WHERE user_name = #{userName}
    </select>
    <select id="selectByUserName" resultMap="SelectByUserNameMap">
        SELECT mu.id                   mu_id,
               mu.user_name            mu_user_name,
               mu.real_name            mu_real_name,
               mu.nickname             mu_nickname,
               mu.sex                  mu_sex,
               mu.password             mu_password,
               mu.head_portrait        mu_head_portrait,
               mu.email                mu_email,
               mu.phone_number         mu_phone_number,
               mu.last_login_ip        mu_last_login_ip,
               mu.last_login_date_time mu_last_login_date_time,
               mu.is_enable            mu_is_enable,
               mu.remark               mu_remark
        FROM mbs_user mu
        WHERE mu.user_name = #{userName}
    </select>

    <select id="selectPermissionsByUserIdAndMenuType" resultType="java.lang.String">
        SELECT mm.permission
        FROM mbs_user_role mur
                 INNER JOIN mbs_role_menu mrm ON mrm.menu_id = mur.role_id
                 INNER JOIN mbs_menu mm ON mm.id = mrm.menu_id
        WHERE mur.user_id = #{userId}
          AND mm.type = #{menuType}
        GROUP BY mm.id
    </select>
    <resultMap id="SelectMenusByUserNameAndMenuTypesAndMenuParentIdMap" type="com.lingyi.mall.api.system.vo.MenuVO">
        <id column="id" property="menuId"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="path" property="path"/>
    </resultMap>
    <select id="selectMenusByUserNameAndMenuTypesAndMenuParentId"
            resultMap="SelectMenusByUserNameAndMenuTypesAndMenuParentIdMap">
        SELECT mm.id mm.name ,mm.icon ,mm.path,
        FROM mbs_user mu INNER JOIN
        mbs_user_role mur ON mur.user_id=mu.id
        INNER JOIN mbs_role_menu mrm ON mrm.menu_id = mur.role_id
        INNER JOIN mbs_menu mm ON mm.id = mrm.menu_id
        WHERE mm.type IN
        <foreach collection="menuTypes" item="menuType" open="(" separator="," close=")">
            #{menuType}
        </foreach>
        AND mm.parent_id = #{parentId}
        AND mu.user_name = #{userName}
        GROUP BY mm.id
    </select>
</mapper>
