<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyi.mall.biz.info.dao.mapper.InfoLogMapper">
    <resultMap id="BaseResultMap" type="com.lingyi.mall.biz.info.model.vo.InfoLogVO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="service_name" jdbcType="VARCHAR" property="serviceName"/>
        <result column="business_name" jdbcType="VARCHAR" property="businessName"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="upper_limit" jdbcType="INTEGER" property="upperLimit"/>
        <result column="interval_time" jdbcType="INTEGER" property="intervalTime"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="captcha" jdbcType="VARCHAR" property="captcha"/>
        <result column="captcha_length" jdbcType="INTEGER" property="captchaLength"/>
        <result column="captcha_expiry_date" jdbcType="INTEGER" property="captchaExpiryDate"/>
        <result column="is_success" jdbcType="TINYINT" property="isSuccess"/>
        <result column="fail_message" jdbcType="VARCHAR" property="failMessage"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date_time" jdbcType="TIMESTAMP" property="createDateTime"/>
        <result column="last_modify_by" jdbcType="VARCHAR" property="lastModifyBy"/>
        <result column="last_modify_date_time" jdbcType="TIMESTAMP" property="lastModifyDateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, service_name, business_name, phone_number, `type`, upper_limit, interval_time,
    content, captcha, captcha_length, captcha_expiry_date, is_success, fail_message,
    remark, create_by, create_date_time, last_modify_by, last_modify_date_time
    </sql>
    <sql id="Base_Condition">
        <if test="serviceName != null and serviceName != '' and serviceName.trim() != ''">
            AND service_name =#{serviceName,jdbcType=VARCHAR}
        </if>
        <if test="businessName != null and businessName != '' and businessName.trim() != ''">
            AND business_name =#{business_name,jdbcType=VARCHAR}
        </if>
        <if test="type != null">
            AND type =#{type,jdbcType=TINYINT}
        </if>
        <if test="phoneNumber != null and phoneNumber != '' and phoneNumber.trim() != ''">
            AND phone_number =#{phoneNumber,jdbcType=VARCHAR}
        </if>
    </sql>
    <select id="selectById" resultType="com.lingyi.mall.biz.info.model.vo.InfoLogVO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ms_info_log
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectListByParam" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ms_info_log
        <where>
            <include refid="Base_Condition"/>
        </where>
    </select>
</mapper>