<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.MmMemberLevelMapper">

    <resultMap id="BaseResultMap" type="generator.domain.MmMemberLevel">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="growthPoint" column="growth_point" jdbcType="INTEGER"/>
            <result property="commentGrowthPoint" column="comment_growth_point" jdbcType="INTEGER"/>
            <result property="isDefaultLevel" column="is_default_level" jdbcType="INTEGER"/>
            <result property="isPriviledgeFreeFreight" column="is_priviledge_free_freight" jdbcType="TINYINT"/>
            <result property="isPriviledgeSignIn" column="is_priviledge_sign_in" jdbcType="TINYINT"/>
            <result property="isPriviledgeComment" column="is_priviledge_comment" jdbcType="TINYINT"/>
            <result property="isPriviledgePromotion" column="is_priviledge_promotion" jdbcType="TINYINT"/>
            <result property="isPriviledgeMemberPrice" column="is_priviledge_member_price" jdbcType="TINYINT"/>
            <result property="isPriviledgeBirthday" column="is_priviledge_birthday" jdbcType="TINYINT"/>
            <result property="freeFreightPoint" column="free_freight_point" jdbcType="DECIMAL"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,growth_point,
        comment_growth_point,is_default_level,is_priviledge_free_freight,
        is_priviledge_sign_in,is_priviledge_comment,is_priviledge_promotion,
        is_priviledge_member_price,is_priviledge_birthday,free_freight_point,
        remark
    </sql>
</mapper>
